.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;


}


.background{


}

.container {
    margin: 0 auto;
    width: 1061px;
    text-align: center;

}



/*Header Style*/
.header{
    padding-top: 49px;
    padding-bottom: 48px;
}

.logo-name{
    display: inline-block;
    line-height: 21px;
    color: white;
    text-transform: uppercase;
    font-family: Verdana;
    transition: 0.5s;
}

.logo-name-top{
    display: block;
    font-size: 29px;
}

.logo-name-bottom{
    font-size: 18px;
}

.logo-link{
    text-decoration: none;
    float: left;
    transition: 0.5s;
}


.logo-picture{
    display: inline-block;
    background-image: url("../img/logo@1X.png");
    width: 46px;
    height: 44px;
    transition: 0.5s;
}

.logo-link:hover .logo-name {
    color:  #f26522;

}

.logo-link:hover .logo-picture{
    background-image: url("../img/logo.png");
}



.contacts{
    margin-top: 15px;
    float: right;
    display: inline-block;
}

.contacts a{
    text-decoration: none;

}

a .company-contacts{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    font-family: Verdana;
}


.gallery-post{
    float: left;
    width: 307px;
    height: 240px;
    margin-right: 69px;
    margin-bottom: 58px;

}

.gallery-post:nth-child(3n){
   margin-right: 0;
}

.shoping-tour-img{
    position: relative;
    overflow: hidden;
}

.shoping-tour-info{
    box-sizing: border-box;
    height: 63px;
    width: 100%;
    background-color: #f26522;
    position: absolute;
    bottom: -63px;
    transition: 0.5s;
    padding: 16px 21px;
}

.gallery-post:hover .shoping-tour-info{
    bottom: 0;
}


.gallery-post:hover .img-card-inform{
    color: #f26522;
}

.gallery-post-link{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.shoping-tour-text-price{
    display: block;
    float: left;
}


.shoping-tour-details{
    display:block;
    float: right;
    margin-top: 16px;
}

.shoping-tour-details::after{
    content: "\203A";
    margin-left: 15px;
}


.img-card-inform{
    text-align: center;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 400;
    padding-top: 12px;
}

.footer{
    margin-top: -46px;
}

.copyright-inform{
    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    color: white;
    margin-top: 60px;
    padding-bottom: 20px;
}